out/
cache/
broadcast/
node_modules/
package-lock.json
.env
.idea

.vscode/

# Included to prevent storing sensitive information in Github Secrets.
# The tests actally run the scripts, which require sensitive information.
test/script/